<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Search Result</title>
  <!-- Favicon-->
  <!--<link rel="icon" type="image/x-icon" href="assets/images/logo.png" />-->
  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="css/styles.css" rel="stylesheet" />
  <link href="css/main.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- Select2 Plugin css -->
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <!-- Slick slider -->
  <link rel="stylesheet" type="text/css" href="css/slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="css/slick/slick-theme.css" />


</head>

<body>
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light gvr-navbar">
    <div class="container-fluid px-4 px-lg-5">
      <a class="navbar-brand" href="index.html">
        <!--<img src="assets/images/logo.png" class="navbar-logo" alt="Company logo" />-->
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="menu-div d-flex">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
            <li class="nav-item  active">
              <a class="nav-link" aria-current="page" href="#!">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">Category</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <div class="flex-menu d-flex">
                  <div class="leftside">
                    <ul>
                      <li>
                        <a class="dropdown-item" href="#!">All Products</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#!">Popular Items</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#!">New Arrivals</a>
                      </li>
                    </ul>
                  </div>
                  <div class="rightside">
                    <p>test</p>
                  </div>
                </div>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!">Whats's my car worth?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!">Why Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!">Contact Us</a>
            </li>
          </ul>

        </div>
      </div>


      <div class="btn-div">
        <ul class="navbar-nav d-flex">
          <li class="nav-item my-auto">
            <a href="" class="nav-link nav-link-login">Sign in</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">
              <button class="btn navbar-btn nav-btn-signup">Signup</button>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="mobile-nav">
      <div class="row m-0">
        <ul class="navbar-nav">
          <li class="active">
            <a href=""> <span><i class="fa-solid fa-home"></i></span> <span>Home</span></a>
          </li>
          <li>
            <div class="dropup">
              <button class="dropbtn"><span><i class="fa-solid fa-layer-group"></i></span><span>Category
                  <!--i
                    class="fa-solid fa-chevron-up"></i-->
                </span></button>
              <div class="dropup-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
              </div>
            </div>
          </li>
          <li>
            <a href=""> <span><i class="fa-solid fa-wallet"></i></span> <span>Car Worth</span></a>

          </li>
          <li><a href=""> <span><i class="fa fa-circle-question"></i></span> <span>Why Us</span></a> </li>
          <li><a href=""><span><i class="fa-solid fa-address-book"></i></span> <span>Contact</span></a> </li>
        </ul>

      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="bg-dark gvr-header listing-header">
    <div class="container px-4 px-lg-5 h-100">
      <div class="text-center text-white caption-div">
        <p class="lead header-caption mb-0">
          Find your dream car
        </p>
        <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
      </div>

      <div class="toggle-div">
        <div class="toggle-switch">
          <label class="toggle-switch-light" onclick="">
            <input type="checkbox" checked>
            <span>
              <span>Rent</span>
              <span>Sale</span>
            </span>
            <a class="btn btn-primary"></a>
            </input>
          </label>
        </div>
      </div>
      <div class="search-div">
        <div class="row m-0">
          <div class="col-lg-2 col-12 px-0 mb-lg-0 mb-2">
            <span class="select-title-head">Brand</span>
            <select id="brand" class="form-control">
              <option>Brand</option>
              <option>Audi</option>
              <option>BMW</option>
              <option>Benz</option>
            </select>
          </div>
          <div class="col-lg-2 col-12 px-0 mb-lg-0 mb-2">
            <span class="select-title-head">Model</span>
            <select id="model" class="form-control">
              <option>Model</option>
              <option>Sport</option>
              <option>4x4</option>
              <option>City</option>
            </select>
          </div>
          <div class="col-lg-2 col-12 px-0 mb-lg-0 mb-2">
            <span class="select-title-head">Year</span>
            <select id="year" class="form-control">
              <option>Year</option>
              <option>2020</option>
              <option>2021</option>
              <option>2022</option>
            </select>
          </div>
          <div class="col-lg-2 col-12 px-0 range-div">
            <p class="range-title">Price Range</p>
            <p class="range-value">
              <input type="text" id="amount" class="filterAmount" readonly>
            </p>
          </div>
          <div class="col-lg-4 col-12 px-0 my-auto">
            <div class="price-range-slider">
              <div id="slider-range" class="range-bar"></div>
            </div>
          </div>
          <div class="col-lg-12 px-0">
            <div class="row px-0">
              <div class="col-lg-10 col-12">
                <span class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></span>
                <input type="text" class="form-control search-input" placeholder="Keyword Search" />
              </div>
              <div class="col-lg-2 col-12">
                <a href="result.html"><button class="btn search-btn">Search</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Recommended section -->
  <section class="recommend-section">
    <div class="container">
      <div class="tab-div">
        <p class="section-title">Recommended Cars</p>
        <div class="list-tab-div">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#new" type="button"
                role="tab" aria-controls="home" aria-selected="true">New</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#used" type="button"
                role="tab" aria-controls="profile" aria-selected="false">Used</button>
            </li>
            <li class="more-link"><a href="listing.html"><button class="nav-link">See more <i
                    class="fa-solid fa-chevron-right"></i></button></a></li>
          </ul>
        </div>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="new" role="tabpanel" aria-labelledby="new-tab">
            <div class="container-fluid home-cars-section card-listing-div">
              <div class="row search-card-row">
                <!-- Car Card -->
                <div class="col-lg-4 col-md-6 car-card">
                  <div class="card h-100">
                    <a href="details.html">
                      <div class="card-body">

                        <div class="card-img-div">
                          <img class="card-img img-fluid" src="assets/images/listing/search/Tesla.png"
                            alt="card image" />
                          <div class="ribbon featured"><span>Featured</span></div>
                        </div>
                        <div class="car-details-div">
                          <div class="tag-div">
                            <p>NEW</p>
                          </div>
                          <div class="car-name-div">
                            <p class="car-name">Tesla Model 3 Standard Range
                              Plus</p>
                          </div>
                          <div class="price-div">
                            <p class="price">AED 599,000 <span class="strike-price">AED 83,500</span></p>
                          </div>
                          <div class="car-details">
                            <p class="location w-100">Dubai, UAE</p>

                            <div class="info-div row">
                              <div class="col-lg-5 col-5">
                                <p class="info"><span><img src="assets/images/Icons/calendar.png" class="img-fluid icon"
                                      alt="info icon"></span> 2020</p>
                              </div>
                              <div class="col-lg-7 col-7">
                                <p class="info"><span><img src="assets/images/Icons/wheel.png" class="img-fluid icon"
                                      alt="info icon"></span> Rear-wheel Drive</p>
                              </div>
                              <div class="col-lg-5 col-5">
                                <p class="info"><span><img src="assets/images/Icons/fuel.png" class="img-fluid icon"
                                      alt="info icon"></span> Electric</p>
                              </div>
                              <div class="col-lg-7 col-7">
                                <p class="info"><span><img src="assets/images/Icons/people.png" class="img-fluid icon"
                                      alt="info icon"></span> 5</p>
                              </div>
                            </div>
                          </div>
                          <!-- Product price-->
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <!-- Car Card Ends -->

                <!-- Car Card -->
                <div class="col-lg-4 col-md-6 car-card">
                  <div class="card h-100">
                    <a href="details.html">
                      <div class="card-body">

                        <div class="card-img-div">
                          <img class="card-img img-fluid" src="assets/images/listing/search/Ford.png"
                            alt="card image" />
                          <div class="ribbon booked"><span>Booked</span></div>
                        </div>
                        <div class="car-details-div">
                          <div class="tag-div">
                            <p>NEW</p>
                          </div>
                          <div class="car-name-div">
                            <p class="car-name">Ford F-250 Super Duty</p>
                          </div>
                          <div class="price-div">
                            <p class="price">AED 599,000 <span class="strike-price">AED 83,500</span></p>
                          </div>
                          <div class="car-details">
                            <p class="location w-100">Dubai, UAE</p>

                            <div class="info-div row">
                              <div class="col-lg-5 col-5">
                                <p class="info"><span><img src="assets/images/Icons/calendar.png" class="img-fluid icon"
                                      alt="info icon"></span> 2020</p>
                              </div>
                              <div class="col-lg-7 col-7">
                                <p class="info"><span><img src="assets/images/Icons/wheel.png" class="img-fluid icon"
                                      alt="info icon"></span> Rear-wheel Drive</p>
                              </div>
                              <div class="col-lg-5 col-5">
                                <p class="info"><span><img src="assets/images/Icons/fuel.png" class="img-fluid icon"
                                      alt="info icon"></span> Electric</p>
                              </div>
                              <div class="col-lg-7 col-7">
                                <p class="info"><span><img src="assets/images/Icons/people.png" class="img-fluid icon"
                                      alt="info icon"></span> 5</p>
                              </div>
                            </div>
                          </div>
                          <!-- Product price-->
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <!-- Car Card Ends -->

                <!-- Car Card -->
                <div class="col-lg-4 col-md-6 car-card">
                  <div class="card h-100">
                    <a href="details.html">
                      <div class="card-body">

                        <div class="card-img-div">
                          <img class="card-img img-fluid" src="assets/images/listing/search/Honda.png"
                            alt="card image" />
                        </div>
                        <div class="car-details-div">
                          <div class="tag-div">
                            <p>NEW</p>
                          </div>
                          <div class="car-name-div">
                            <p class="car-name">Honda Pilot Touring 7-Passenger</p>
                          </div>
                          <div class="price-div">
                            <p class="price">AED 599,000 <span class="strike-price">AED 83,500</span></p>
                          </div>
                          <div class="car-details">
                            <p class="location w-100">Dubai, UAE</p>

                            <div class="info-div row">
                              <div class="col-lg-5 col-5">
                                <p class="info"><span><img src="assets/images/Icons/calendar.png" class="img-fluid icon"
                                      alt="info icon"></span> 2020</p>
                              </div>
                              <div class="col-lg-7 col-7">
                                <p class="info"><span><img src="assets/images/Icons/wheel.png" class="img-fluid icon"
                                      alt="info icon"></span> Rear-wheel Drive</p>
                              </div>
                              <div class="col-lg-5 col-5">
                                <p class="info"><span><img src="assets/images/Icons/fuel.png" class="img-fluid icon"
                                      alt="info icon"></span> Electric</p>
                              </div>
                              <div class="col-lg-7 col-7">
                                <p class="info"><span><img src="assets/images/Icons/people.png" class="img-fluid icon"
                                      alt="info icon"></span> 5</p>
                              </div>
                            </div>
                          </div>
                          <!-- Product price-->
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <!-- Car Card Ends -->
                <!-- Car Card -->
                <div class="col-lg-4 col-md-6 car-card">
                  <div class="card h-100">
                    <a href="details.html">
                      <div class="card-body">

                        <div class="card-img-div">
                          <img class="card-img img-fluid" src="assets/images/listing/search/Tesla.png"
                            alt="card image" />
                          <div class="ribbon featured"><span>Featured</span></div>
                        </div>
                        <div class="car-details-div">
                          <div class="tag-div">
                            <p>NEW</p>
                          </div>
                          <div class="car-name-div">
                            <p class="car-name">Tesla Model 3 Standard Range
                              Plus</p>
                          </div>
                          <div class="price-div">
                            <p class="price">AED 599,000 <span class="strike-price">AED 83,500</span></p>
                          </div>
                          <div class="car-details">
                            <p class="location w-100">Dubai, UAE</p>

                            <div class="info-div row">
                              <div class="col-lg-5 col-5">
                                <p class="info"><span><img src="assets/images/Icons/calendar.png" class="img-fluid icon"
                                      alt="info icon"></span> 2020</p>
                              </div>
                              <div class="col-lg-7 col-7">
                                <p class="info"><span><img src="assets/images/Icons/wheel.png" class="img-fluid icon"
                                      alt="info icon"></span> Rear-wheel Drive</p>
                              </div>
                              <div class="col-lg-5 col-5">
                                <p class="info"><span><img src="assets/images/Icons/fuel.png" class="img-fluid icon"
                                      alt="info icon"></span> Electric</p>
                              </div>
                              <div class="col-lg-7 col-7">
                                <p class="info"><span><img src="assets/images/Icons/people.png" class="img-fluid icon"
                                      alt="info icon"></span> 5</p>
                              </div>
                            </div>
                          </div>
                          <!-- Product price-->
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <!-- Car Card Ends -->

                <!-- Car Card -->
                <div class="col-lg-4 col-md-6 car-card">
                  <div class="card h-100">
                    <a href="details.html">
                      <div class="card-body">

                        <div class="card-img-div">
                          <img class="card-img img-fluid" src="assets/images/listing/search/Ford.png"
                            alt="card image" />
                          <div class="ribbon booked"><span>Booked</span></div>
                        </div>
                        <div class="car-details-div">
                          <div class="tag-div">
                            <p>NEW</p>
                          </div>
                          <div class="car-name-div">
                            <p class="car-name">Ford F-250 Super Duty</p>
                          </div>
                          <div class="price-div">
                            <p class="price">AED 599,000 <span class="strike-price">AED 83,500</span></p>
                          </div>
                          <div class="car-details">
                            <p class="location w-100">Dubai, UAE</p>

                            <div class="info-div row">
                              <div class="col-lg-5 col-5">
                                <p class="info"><span><img src="assets/images/Icons/calendar.png" class="img-fluid icon"
                                      alt="info icon"></span> 2020</p>
                              </div>
                              <div class="col-lg-7 col-7">
                                <p class="info"><span><img src="assets/images/Icons/wheel.png" class="img-fluid icon"
                                      alt="info icon"></span> Rear-wheel Drive</p>
                              </div>
                              <div class="col-lg-5 col-5">
                                <p class="info"><span><img src="assets/images/Icons/fuel.png" class="img-fluid icon"
                                      alt="info icon"></span> Electric</p>
                              </div>
                              <div class="col-lg-7 col-7">
                                <p class="info"><span><img src="assets/images/Icons/people.png" class="img-fluid icon"
                                      alt="info icon"></span> 5</p>
                              </div>
                            </div>
                          </div>
                          <!-- Product price-->
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <!-- Car Card Ends -->

                <!-- Car Card -->
                <div class="col-lg-4 col-md-6 car-card">
                  <div class="card h-100">
                    <a href="details.html">
                      <div class="card-body">

                        <div class="card-img-div">
                          <img class="card-img img-fluid" src="assets/images/listing/search/Honda.png"
                            alt="card image" />
                        </div>
                        <div class="car-details-div">
                          <div class="tag-div">
                            <p>NEW</p>
                          </div>
                          <div class="car-name-div">
                            <p class="car-name">Honda Pilot Touring 7-Passenger</p>
                          </div>
                          <div class="price-div">
                            <p class="price">AED 599,000 <span class="strike-price">AED 83,500</span></p>
                          </div>
                          <div class="car-details">
                            <p class="location w-100">Dubai, UAE</p>

                            <div class="info-div row">
                              <div class="col-lg-5 col-5">
                                <p class="info"><span><img src="assets/images/Icons/calendar.png" class="img-fluid icon"
                                      alt="info icon"></span> 2020</p>
                              </div>
                              <div class="col-lg-7 col-7">
                                <p class="info"><span><img src="assets/images/Icons/wheel.png" class="img-fluid icon"
                                      alt="info icon"></span> Rear-wheel Drive</p>
                              </div>
                              <div class="col-lg-5 col-5">
                                <p class="info"><span><img src="assets/images/Icons/fuel.png" class="img-fluid icon"
                                      alt="info icon"></span> Electric</p>
                              </div>
                              <div class="col-lg-7 col-7">
                                <p class="info"><span><img src="assets/images/Icons/people.png" class="img-fluid icon"
                                      alt="info icon"></span> 5</p>
                              </div>
                            </div>
                          </div>
                          <!-- Product price-->
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <!-- Car Card Ends -->


                <!-- Show all button div -->
                <div class="col-12 show-btn-div">
                  <button class="btn show-all-btn">Show All</button>
                </div>
              </div>

            </div>
          </div>
          <div class="tab-pane fade" id="used" role="tabpanel" aria-labelledby="used-tab">...</div>
        </div>
      </div>
    </div>
    </div>
  </section>
  <!-- Video section -->
  <section class="video-section">
    <div class="button-div">
      <button class="btn play-btn" data-bs-toggle="modal" data-bs-target="#myModal"><i
          class="fa-regular fa-circle-play"></i>
      </button>
      <p class="watch-text">Watch Video</p>

    </div>
    <div class="image-div">
      <img src="assets/images/video-banner.png" class="img-fluid" alt="">
    </div>

    <!-- Video Modal -->
    <div class="modal centered" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="aligner">
        <div class="modal-dialog modal-lg">
          <div class="modal-content bg-dark">
            <div class="modal-header p-0 border-0 d-block text-end me-3 pt-2">
              <button type="button" class="close btn bg-transparent text-white" data-bs-dismiss="modal"><span
                  aria-hidden="true">&times;</span><span class="sr-only">Close</span> </button>
            </div>
            <div class="modal-body">
              <video controls style="width: 100%; height: auto" id="videoModal" poster="assets/images/header-old.jpeg"
                preload>
                <source src="assets/video.mp4" type="video/mp4" />
              </video>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Video modal ends -->
    </div>
    </div>
  </section>

  <!-- Brand Section -->
  <section class="brand-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-12 col-12 mt-auto">
          <p class="section-title pb-0 mb-0">Our<span class="ms-2">Brands</span></p>
        </div>
        <div class="col-lg-10 col-md-12 col-12">
          <div class="brand-carousel">
            <!-- Inside the containing div, add one div for each slide -->
            <div>
              <img src="assets/images/brands/brand1.png" class="img-fluid brand-logo">
            </div>
            <div>
              <img src="assets/images/brands/brand2.png" class="img-fluid brand-logo">
            </div>
            <div>
              <img src="assets/images/brands/brand3.png" class="img-fluid brand-logo">
            </div>
            <div>
              <img src="assets/images/brands/brand4.png" class="img-fluid brand-logo">
            </div>
            <div>
              <img src="assets/images/brands/brand5.png" class="img-fluid brand-logo">
            </div>
            <div>
              <img src="assets/images/brands/brand6.png" class="img-fluid brand-logo">
            </div>
            <div>
              <img src="assets/images/brands/brand6.png" class="img-fluid brand-logo">
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <!-- Special offer section -->
  <section class="special-section">
    <div class="row mx-0">
      <div class="col-lg-5 col-md-12 col-12 p-0">
        <div class="image-div">
          <p class="main-heading">LIMITED SPECIAL OFFER</p>
          <p class="desc">LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISCING ELIT, SED DO UT ENIM AD MINIM VENIAM, QUIS
            NOSTRUD</p>
        </div>
        <!-- <img src="assets/images/special-offer.png" class="special-img img-fluid" alt="special offer image"> -->
      </div>
      <div class="col-lg-7 col-md-12 col-12 accordion-div">
        <div class="row heading-row">
          <p class="sub-heading">OUR ADVANTAGES YOU NEED TO KNOW</p>
          <p class="main-heading"><span>125</span>K+ HAPPY CLIENTS</p>
          <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do Ut enim ad minim veniam, quis
            nostrud</p>
        </div>
        <div class="row">
          <div class="col-lg-8">
            <div class="accordion special-accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    <span></span>
                    <div class="button-text d-flex">
                      <div class="count-div">
                        <p class="count">01</p>
                      </div>
                      <div class="text-div">
                        <p class="text">Lorem Ipsum is simprinting and typesetting industry</p>
                      </div>
                    </div>
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <div class="desc-div">
                      <span class="left-element">&nbsp;</span>

                      <p class="light-desc">1,255 Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry</p>
                      <p class="desc">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do Ut enim ad minim veniam, quis
                        nostrud
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <span></span>
                    <div class="button-text d-flex">
                      <div class="count-div">
                        <p class="count">02</p>
                      </div>
                      <div class="text-div">
                        <p class="text">Lorem Ipsum is simprinting and typesetting industry</p>
                      </div>
                    </div>
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <div class="desc-div">
                      <span class="left-element">&nbsp;</span>

                      <p class="light-desc">1,255 Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry</p>
                      <p class="desc">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do Ut enim ad minim veniam, quis
                        nostrud
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <span></span>
                    <div class="button-text d-flex">
                      <div class="count-div">
                        <p class="count">03</p>
                      </div>
                      <div class="text-div">
                        <p class="text">Lorem Ipsum is simprinting and typesetting industry</p>
                      </div>
                    </div>
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <div class="desc-div">
                      <span class="left-element">&nbsp;</span>

                      <p class="light-desc">1,255 Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry</p>
                      <p class="desc">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do Ut enim ad minim veniam, quis
                        nostrud
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    <span></span>
                    <div class="button-text d-flex">
                      <div class="count-div">
                        <p class="count">03</p>
                      </div>
                      <div class="text-div">
                        <p class="text">Lorem Ipsum is simprinting and typesetting industry</p>
                      </div>
                    </div>
                  </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <div class="desc-div">
                      <span class="left-element">&nbsp;</span>

                      <p class="light-desc">1,255 Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry</p>
                      <p class="desc">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do Ut enim ad minim veniam, quis
                        nostrud
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 special-car-div">
            <img src="assets/images/special-car.png" class="img-fluid" alt="special car image">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="testimonial-section">
    <div class="testimonial-container container">
      <div class="testimonial-carousel">
        <div class="testimonial">
          <div class="quote-icon">
            <img src="assets/images/Icons/quote.png" class="img-fluid quote-img" alt="" srcset="">
          </div>
          <p class="desc">
            It is a long established fact that a reader will be distracted by the readable content of a page when
            looking
            at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
            as
            opposed to using 'Content here, content here', making it look like readable English
          </p>
          <p class="client-name">
            Muhammed Ali, <span>Happy Customer</span>
          </p>
        </div>
        <div class="testimonial">
          <div class="quote-icon">
            <img src="assets/images/Icons/quote.png" class="img-fluid quote-img" alt="" srcset="">
          </div>
          <p class="desc">
            It is a long established fact that a reader will be distracted by the readable content of a page when
            looking
            at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
            as
            opposed to using 'Content here, content here', making it look like readable English
          </p>
          <p class="client-name">
            Muhammed Ali, <span>Happy Customer</span>
          </p>
        </div>
      </div>

      <div class="image-div">
        <img src="assets/images/testimonial-car.png" class="testimonial-banner" alt="testimonial car">
      </div>
    </div>
  </section>
  <button class="btn back-to-up-btn rounded-circle position-fixed bottom-0 end-0 translate-middle d-none"
    onclick="scrollToTop()" id="back-to-up">
    <i class="fa-solid fa-chevron-up" aria-hidden="true"></i>
  </button>
  <!-- Footer-->
  <section class="footer-section px-md-5">
    <div class="row footer-row">
      <div class="col-lg-4">
        <div class="logo-div">
          <span><img src="assets/images/logo.png" class="img-fluid footer-logo" alt=""></span>
          <p class="logo-title">
            GLOBAL VECHICLE REMARKETING
          </p>
        </div>
        <div class="desc-div">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor et dolore magna aliqua. Ut enim
          ad minim veniam, quis nostrud eiusmod tempor incididunt ut labore et dolore
        </div>
        <div class="opening-div">
          <p class="title">OPENING HOURS</p>
          <p class="open-desc">Mon-Sat: 07.00am - 18.00pm</p>
          <p class="open-desc">Sunday is closed</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-8">
        <div class="footer-title">
          <p>LATEST CARS</p>
        </div>

        <div class="row">
          <div class="col-lg-6 col-6">
            <ul class="footer-list">
              <li><a href="#"><i class="fas fa-angle-double-right"></i>Audi Model RX-7</a></li>
              <li><a href="#"><i class="fas fa-angle-double-right"></i>BMW Model M3 GTR</a></li>
              <li><a href="#"><i class="fas fa-angle-double-right"></i>Bugatti Model Veyron</a></li>
              <li><a href="#"><i class="fas fa-angle-double-right"></i>Chevrolette Model S</a></li>
              <li><a href="#"><i class="fas fa-angle-double-right"></i>Lamborghini Diablo</a></li>
              <li><a href="#"><i class="fas fa-angle-double-right"></i>Maclaren Model RS</a></li>
              <li><a href="#"><i class="fas fa-angle-double-right"></i>Nissan Model Skyline</a></li>
            </ul>
          </div>
          <div class="col-lg-6 col-6">
            <ul class="footer-list">
              <li><a href="#"><i class="fas fa-angle-double-right"></i>Audi Model RX-7</a></li>
              <li><a href="#"><i class="fas fa-angle-double-right"></i>BMW Model M3 GTR</a></li>
              <li><a href="#"><i class="fas fa-angle-double-right"></i>Bugatti Model Veyron</a></li>
              <li><a href="#"><i class="fas fa-angle-double-right"></i>Chevrolette Model S</a></li>
              <li><a href="#"><i class="fas fa-angle-double-right"></i>Lamborghini Diablo</a></li>
              <li><a href="#"><i class="fas fa-angle-double-right"></i>Maclaren Model RS</a></li>
              <li><a href="#"><i class="fas fa-angle-double-right"></i>Nissan Model Skyline</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 ps-lg-5">
        <div class="footer-title">
          <p>Contact Us</p>
        </div>
        <ul class="footer-list">
          <li><a href=""><span class="icon-span"><img src="assets/images/Icons/location.svg" class="footer-icon"
                  alt=""></span>Dubai , 128 Town, Dubai 1367 UAE</a></li>
          <li><a href=""><span class="icon-span"><img src="assets/images/Icons/phone-call.svg" class="footer-icon"
                  alt=""></span>Phone : 1 - 877 - 3453 - 3726</a></li>
          <li><a href=""><span class="icon-span"><img src="assets/images/Icons/fax.svg" class="footer-icon"
                  alt=""></span>FAX : 1 - 877 - 2341 - 1283</a></li>
          <li><a href=""><span class="icon-span"><img src="assets/images/Icons/email.svg" class="footer-icon"
                  alt=""></span>Email : info@car-listing.com</a></li>
        </ul>
      </div>
    </div>
    <footer class="bottom-footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 col-12">
            <p class="copyright">
              Copyright <span>@ car-listing</span> 2022
            </p>
          </div>
          <div class="col-lg-6 col-12">
            <ul class="social-links">
              <li><a href="">Facebook</a></li>
              <li><a href="">Twitter</a></li>
              <li><a href="">Instagram</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </section>

  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Select2 plug in JS -->
  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Select2 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

  <!-- Slick js -->
  <script type="text/javascript" src="css/slick/slick.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>

  <!-- Core theme JS-->
  <script src="js/scripts.js"></script>
</body>

</html>