/*.car-details-div{
	padding-top: 30px;
    min-height: 113px;
}*/

/*.card-img-div{
	min-height: 200px;
    max-height: 220px;
}*/
.zoom {
	/*padding: 31px; */
    /* background-color: green; */
    transition: transform .9s;
    /* width: 150px; */
    /* height: 150px; */
    margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}
img.card-img.img-fluid{
	max-height: 215px;
    min-height: 215px;
}
.car-price{
font-size: 1rem !important;
}
.featured-tag-class{
  width: 100px;
  font-size: 1rem !important;
}
.single-dropdown{
  width:30% !important;
}